#desktop-body{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: black;
    overflow: hidden;
}

.top {
    position: absolute;
    height:25px;
    top: 0;
    width: 100vw;
    background-color: rgb(42, 49, 90);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-for-windows{
    position: relative;
    top: 25px;
    height: 85%;
}